:root {
    /* ===== Glyph（文字 / 图标） ===== */
    --sk-glyph: rgb(0, 0, 0);
    --sk-glyph-gray: rgb(29, 29, 31);
    --sk-glyph-gray-alpha: rgba(0, 0, 0, 0.88);
    --sk-glyph-gray-secondary: rgb(110, 110, 115);
    --sk-glyph-gray-secondary-alpha: rgba(0, 0, 0, 0.56);
    --sk-glyph-gray-secondary-alt: rgb(66, 66, 69);
    --sk-glyph-gray-secondary-alt-alpha: rgba(0, 0, 0, 0.72);
    --sk-glyph-gray-tertiary: rgb(134, 134, 139);
    --sk-glyph-gray-tertiary-alpha: rgba(0, 0, 0, 0.48);
  
    --sk-glyph-blue: rgb(0, 102, 204);
    --sk-glyph-orange: rgb(182, 68, 0);
    --sk-glyph-green: rgb(0, 128, 9);
    --sk-glyph-red: rgb(227, 0, 0);
  
    /* ===== Fill（背景） ===== */
    --sk-fill: rgb(255, 255, 255);
    --sk-fill-secondary: rgb(250, 250, 252);
    --sk-fill-tertiary: rgb(245, 245, 247);
  
    --sk-fill-gray: rgb(29, 29, 31);
    --sk-fill-gray-alpha: rgba(0, 0, 0, 0.88);
    --sk-fill-gray-secondary: rgb(134, 134, 139);
    --sk-fill-gray-secondary-alpha: rgba(0, 0, 0, 0.48);
    --sk-fill-gray-tertiary: rgb(210, 210, 215);
    --sk-fill-gray-tertiary-alpha: rgba(0, 0, 0, 0.16);
    --sk-fill-gray-quaternary: rgb(232, 232, 237);
    --sk-fill-gray-quaternary-alpha: rgba(0, 0, 0, 0.08);
  
    /* ===== 语义颜色 ===== */
    --sk-fill-blue: rgb(0, 113, 227);
    --sk-fill-orange: rgb(245, 99, 0);
    --sk-fill-orange-secondary: rgb(255, 249, 244);
  
    --sk-fill-green: rgb(3, 161, 14);
    --sk-fill-green-secondary: rgb(245, 255, 246);
  
    --sk-fill-red: rgb(227, 0, 0);
    --sk-fill-red-secondary: rgb(255, 242, 244);
  
    --sk-fill-yellow: rgb(255, 224, 69);
    --sk-fill-yellow-secondary: rgb(255, 254, 242);
  
    /* ===== 特殊 / 品牌 ===== */
    --sk-productred: rgb(175, 30, 45);
    --sk-enviro-green: rgb(0, 217, 89);
    --sk-enviro-neutral: rgb(232, 232, 237);
  }


/* ===== Reset ===== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;     /* 去掉默认的小圆点 */
}

a {
    text-decoration: none;
    color: inherit;       /* 继承父元素颜色 */
}

body {
    font-family: -apple-system, "SF Pro Text", "PingFang SC", 
                 "Microsoft YaHei", sans-serif;
    background-color: var(--sk-fill);
    color: var(--sk-glyph);
    line-height: 1.5;
}

.navbar {
    background-color: var(--sk-fill-secondary);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    position: sticky;   /*滚动时元素"吸附"在指定位置不动*/
    top: 0;             /*指定滚动时元素"吸附"的位置*/
    z-index: 9999;       /*层级，越大越先显示*/
}

.nav-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    height: 44px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-logo {
    font-size: 18px;
    color: white;
    margin:0 30px;
}

.nav-menu {
    display: flex;
    
    gap: 34px;
    justify-content: center;
}

.nav-menu a {
    color: var(--sk-glyph-gray);
    font-size: 12px;
    transition: color 0.3s;
}

.nav-menu a:hover {
    color: white;
}

.nav-actions {
    margin: 0 34px;
    display: flex;
    gap: 30px;

}

.nav-actions a {
    color: white;
    font-size: 14px;
}

.hero {
    text-align: center;
    padding: 60px 20px 0px;
    background-color: var(--sk-fill-tertiary);
}

.hero-title {
    font-size: 56px;
    font-weight: 600;
    color: var(--sk-glyph-gray);
    letter-spacing: -0.02em;
    margin-bottom: -12px;
}
.hero-subtitle {
    font-size: 28px;
    font-weight: 400;
    color: var(--sk-glyph-gray-alpha);
    margin-bottom: 18px;
}
.hero-actions {
    display: flex;
    gap: 32px;
    justify-content: center;
    margin-bottom: 30px;
}
.hero-action-1 {
    background-color: var(--sk-fill-blue);
    color: var(--sk-fill-orange-secondary);
    font-size: 17px;
    line-height: 1.1764805882;
    font-weight: 400;

    transition: opacity 0.3s;
    padding: 11px 21px;
    border-radius: 980px;
    border: 2px solid var(--sk-glyph-blue)
}
.hero-action-2 {
    background-color: inherit;
    color: var(--sk-fill-blue);
    font-size: 17px;
    line-height: 1.1764805882;
    font-weight: 400;

    transition: opacity 0.3s;
    padding: 11px 21px;
    border-radius: 980px;
    border: 2px solid var(--sk-glyph-blue) ;
}

.hero-action-2:hover {
    background-color: var(--sk-fill-blue);
    color: var(--sk-fill-orange-secondary);
}

img {
    display: block;        /* 改成块级 */
}
.hero-image {
    max-width: 35%;
    margin: 0 auto;
    border-radius: 12px;
}